.App {
  text-align: center;
 ;
}
.newapp {
  height: 250px;
  width:760px;
  margin-left: 70px;

}
.btn {
  height: 35px;
  width: 300px;
  background: orangered;
  border-bottom: 3px solid black;
  border-right: 3px solid black;
  margin-top: 10px;

}